*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.navigationbar{
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid rgb(223, 220, 220);
    box-shadow: 5px 5px 5px lightgrey;
    height: 65px;
    width: 100%; 
}

.menu{
    margin: 15px;
}
.tollFree{
    margin: 15px;
}

.menu ul{
    display: flex;
    
}

.hamburger{
    display: none;
}

.menu ul li{
    list-style: none;
    margin: 5px;
}

.menu ul li a{
    padding: 7px 15px;
    font-size: 14px;
    text-decoration: none !important;
    font-weight: 400;
    color: #2a2a2a
}

.banner img{
    width: 100%;
    /* height: 500px; */
    height: auto;
    object-fit: fill;
    
   
}

.services{
    text-align: center;
    margin-top: 20px;
    color: #858282;
}

.service-listing{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    max-width: 60%;
    margin: auto;
}

.service{
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 2px rgb(121, 120, 120);
}

.service img{
    width:200px;
    border-radius:10px ;
    
    
}

.service:hover{

    height: 250px;
    width: 250px;
    
}

.service img:hover{

    width: 250px;
}


.customerAssurance{

    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    

}

.customerAssuranceSections{

    height: 170px;
    width: 100%;
    border-right: 1.5px solid rgb(194, 192, 192);
    background: #E8EEFD;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
   
    
}

.customerAssuranceSections img{
    width: 100px;
    height: 100px;
    margin: auto;

    
    
}

.customerAssuranceSections h3{
  margin: auto;
}


.container{
    display: flex;
    max-width: 90%;
    flex-direction: column;
    margin: auto;
    
}

.flex1{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    
}
.flex2{
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
}
.feature{
    height: 200px;
    width: 33.33%;
    border-radius: 20px;
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px;
    
}

.feature img{
    width: 80px;
    position: absolute;
    left: 50%;
    margin: -40px;
    
}

.feature h3{
    margin: auto;
    margin-top: 50px;
}

.features p{
    font-size: 12px;
    text-align: center;
    letter-spacing: .5px;
    margin: 5px;
    color: #212529;
}
.feature .paragraph{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    margin-top: -20px;
    text-align: center;
}

@media only screen and (max-width: 1100px){
    .feature .paragraph p{
        display: none;
    }
}

@media only screen and (max-width: 670px)
{

    .menu ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .tollFree{
        display: none;
    }
    .service-listing{
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin: auto;
    }
    .customerAssurance{
        /* display: flex;
        flex-direction: column;
        max-width: 60%;
       
        margin-left: 30px;
        margin-bottom: 0px;
        padding: 0px;
       
        margin: auto; */

        display: grid;
        grid-template-columns: auto auto ;
       
        padding: 10px;
        margin-bottom: 40px;

    }

    .customerAssuranceSections{

       
        
        margin-bottom: 0px;
        margin-top: 0%; 
        border-bottom: 1.5px solid rgb(194, 192, 192);




        /* border-right:1.5px solid rgb(194, 192, 192);  */


        /* border-right: none; */
        
        
    }

    .banner img{
        height: 300px;
    }

    .flex1{
       
       
        flex-direction: column;
        
        
    }
    .flex2{
        
        flex-direction: column;
        
        
    }

    

    .container{
        max-width: 80%;
        
        
    }
    .feature{
        width: 100%;
        margin: 10px auto;
    }

    .feature .paragraph p{
        display:block;
    }

    
    
    
    
}
    



